@media (max-width: 768px) {
    body {
        background-color: var(--neutral);
        margin: 0;
        padding: 0;
    }

    header,
    nav,
    footer {
        text-align: center;
    }

    /*Navbar*/
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        background-color: var(--neutral);
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
        position: relative;
        z-index: 1000;
    }

    .logo {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .logo img {
        width: 40px;
        height: 40px;
    }

    .logo h1 {
        font-size: 1.2rem;
        color: var(--primary);
        margin: 0;
    }

    /*Hamburger*/
    .hamburger {
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 24px;
        height: 18px;
        background: none;
        border: none;
        cursor: pointer;
        transition: transform 0.3s ease;
    }

    .hamburger span {
        height: 3px;
        width: 100%;
        background-color: var(--dark);
        border-radius: 3px;
        transition: all 0.3s ease;
    }

    /*Nav Links */
    .nav-links {
        display: flex;
        gap: 1.5rem;
        list-style: none;
    }

    .nav-links a {
        text-decoration: none;
        color: var(--dark);
        font-weight: 500;
        transition: color 0.3s ease;
    }

    .nav-links a:hover {
        color: var(--dark);
    }

    .hamburger {
        display: flex;
    }

    .nav-links {
        position: absolute;
        top: 70px;
        right: 1rem;
        background-color: var(--primary);
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem;
        border-radius: 0.75rem;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        opacity: 0;
        transform: translateY(-20px);
        transition: all 0.4s ease;
        z-index: 1001;
        background-color: rgba(250, 244, 230, 0.7);
        backdrop-filter: blur(1px);
    }

    .nav-links.show {
        opacity: 1;
        transform: translateY(0);
    }

    /* Hamburger animation*/
    .hamburger.active span:nth-child(1) {
        transform: rotate(41deg) translateY(9px);
    }

    .hamburger.active span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active span:nth-child(3) {
        transform: rotate(-41deg) translateY(-10px);
    }

    /* Main Content */
    main {
        margin: 2rem auto;
        padding: 0 1rem;
    }

    /*Map Section*/
    .map-page {
        padding: 1rem;
    }

    .map-section h2 {
        font-size: 1.5rem;
    }

    .map-actions {
        flex-direction: column;
    }

    .btn-1,
    .btn-2 {
        width: 100%;
    }

    footer {
        font-size: 0.8rem;
    }
}